.container{
    display: flex;
    background-color: lightblue;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}
.row{
    display: flex;
    width: 100%;
}

.col {
    /*flex: 0 0 50%;*/
    text-align: center;
}
.col-full{
    width: 100%;
}
.main-img{
    width: 50%;
}
.col-half{
    width: 50%;
}
.col-left{
    width:  33%;
    /*flex: 0 20%;*/
    border-right: 2px solid black;
    font-size: 60px;
    float: left;
}

.col-right{
    flex: 0 0 58%;
}

.col-bottom{
    flex: 0 0 20%;
    margin: 5px;
     width: 67%;
}
.top {
    display: flex;
    justify-content: center;
    background-color: #002f51;
    padding-top: 50px;
    font-size: 30px;
}

#links{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    font-size: 20px;
}
li {
    margin: 6px;
    float: left;
    list-style: none;
  }
  #name{
    color: antiquewhite;
    margin-right:auto;
    margin-left: 55px;
    background-color: #547f86;
    border: 2px solid black;
    margin-bottom: 15px;
  }
  .row-mid{
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    padding-bottom: 49px;
    padding-top: 93px;
}
#work-sect-content{
    width: 67%;
}
#contact-me{
    width: 67%;
}
