.header{
width: 100%;
height: 100px;
line-height: 100px;
color: white;
background-color: darkcyan;

}

.info {
  width: 300px;
  height: 400px;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.info img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.info p {
  font-size: 16px;
}
.name{
  margin-left: 77px;
  font-size: 26px;
}
.link,.link1, .link2, .link3, .link4 {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  font-size: 20px;
  padding-right: 20px;
}

a:hover {
  color: hotpink;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  margin-left: 960px;
  margin-top: 400px;
}
.about {
  font-size: 20px;
  display:flex;
  justify-content: flex-start;
}
#aboutinfo{
  margin-left: 375px;
  margin-top: 50px;
  padding-right: 415px;
}
.ME{
  margin-left: 140px;
  margin-top: 50px;
  font-size: 65px;
  border-right: 5px solid black;
}
#Contact{
  margin-left: 140px;
  margin-top: 50px;
  font-size: 65px;
}
.phone, .mail, .hub{
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  font-size: 20px;
  padding-right: 20px;
}